
.App {
  text-align: center;
}


.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color:#555; 
  padding: 20px;
  color: white;
  background-size: contain;
  background-image: url('./images/black_rook.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: darken;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  margin: auto;
  text-align: justify;
  font-size: small;
  max-width: 30em;
  padding: 2em 0em;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
