:root {
  --square-size: 3em;
}

.piece {
  width: 100%;
}

.Game {
  text-align: center;
  align-content: center;
  display: inline-block;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 100vw;
  height: 100vw;
  max-height: 30em;
  max-width: 30em;
}

.game_piece {
  position: absolute;
  top: 0;
  left: 0;
  width: 10%;
  height: 10%;
  vertical-align: middle;
  text-align: center;
  margin: auto;
}


.move_square {
  position: absolute;
  top: 0;
  left: 0;
  width: 10%;
  height: 10%;
  vertical-align: middle;
  text-align: center;
  margin: auto;
  background-color: rgba(155, 255, 55, 0.25);
}

.game_piece img {width:100%;}

.square  {
  width:  10%;
  height: 10%;
  outline: 2px solid black;
  outline-offset: -1px;
  display: table-cell;
}
.label  {
  width:  10%;
  height: 10%;
  display: table-cell;
}
.grave {
  padding: 1px;
  width: 10px;
  height: 10px;
  margin: auto;
}
.light {
  background-color: #fff;
}
.dark  {
  background-color: #acf;
}

.row {
  display:table-row;
  border-collapse: collapse;
  width: 100%;
  height: 10%;
}

.board {
    display: table;
    margin: auto;
    border-collapse: collapse;
    width: 100%;
    height: 100%;
}
